<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>danhnlc.controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>danhnlc.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>danhnlc.controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateProductController</servlet-name>
        <servlet-class>danhnlc.controller.CreateProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductController</servlet-name>
        <servlet-class>danhnlc.controller.DeleteProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductController</servlet-name>
        <servlet-class>danhnlc.controller.UpdateProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>danhnlc.controller.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowDetailController</servlet-name>
        <servlet-class>danhnlc.controller.ShowDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginGoogleController</servlet-name>
        <servlet-class>danhnlc.controller.LoginGoogleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>danhnlc.controller.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductCartController</servlet-name>
        <servlet-class>danhnlc.controller.DeleteProductCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductCartController</servlet-name>
        <servlet-class>danhnlc.controller.UpdateProductCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutController</servlet-name>
        <servlet-class>danhnlc.controller.CheckOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadPurchaseHistory</servlet-name>
        <servlet-class>danhnlc.controller.LoadPurchaseHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditController</servlet-name>
        <servlet-class>danhnlc.controller.EditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCartLoginController</servlet-name>
        <servlet-class>danhnlc.controller.AddCartLoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CountProductCart</servlet-name>
        <servlet-class>danhnlc.controller.CountProductCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadOrderDetailHistory</servlet-name>
        <servlet-class>danhnlc.controller.LoadOrderDetailHistory</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateProductController</servlet-name>
        <url-pattern>/CreateProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductController</servlet-name>
        <url-pattern>/DeleteProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductController</servlet-name>
        <url-pattern>/UpdateProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/AddToCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowDetailController</servlet-name>
        <url-pattern>/ShowDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginGoogleController</servlet-name>
        <url-pattern>/LoginGoogleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductCartController</servlet-name>
        <url-pattern>/DeleteProductCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductCartController</servlet-name>
        <url-pattern>/UpdateProductCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutController</servlet-name>
        <url-pattern>/CheckOutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadPurchaseHistory</servlet-name>
        <url-pattern>/LoadPurchaseHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditController</servlet-name>
        <url-pattern>/EditController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCartLoginController</servlet-name>
        <url-pattern>/AddCartLoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CountProductCart</servlet-name>
        <url-pattern>/CountProductCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadOrderDetailHistory</servlet-name>
        <url-pattern>/LoadOrderDetailHistory</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>SearchController</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <description>DBCon</description>
        <res-ref-name>DBConnection</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
